# jar2sh configuration file
#
# this file is sourced directly into jar2sh at run time.
#
# uncomment and fill in as necessary.

# the script to create (required)
JAR2SH_SCRIPT="Origami.SMTP.sh"

# the executable jar to wrap, if any.  If specified, java
# will be invoked with the -jar option, using this jar as
# its parameter.  If not specified, you MUST specify a
# main class (below).
JAR2SH_EXEJAR="Origami.SMTP.jar"

# other jars to wrap in addition to the optional executable
# jar.  This should be a whitespace-delimited list.  Wildcards OK.
# example:
# JAR2SH_JARS="/path/to/some.jar ~/jars/*.jar"
#JAR2SH_JARS=""

# the main class to launch if an executable jar is not being 
# used.  If not specified, you MUST specify an executable jar.
#JAR2SH_MAINCLASS=""

# if you need to, you can override the default command ("java")
# used to launch the JVM.  The command must be in the user's path.
#JAR2SH_JAVA="java"

# you can also provide additional VM arguments if necessary
#JAR2SH_VMARGS=""

# uncomment this line to run rlwrap (readline wrapper) around
# java if available on the user's computer
#JAR2SH_RLWRAP=y

