[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/origami-smtp.sh
Type=Application
Terminal=false
Comment=Origami SMTP Server
Name=Origami SMTP
GenericName=origami-smtp {version}
StartupNotify=false
Categories=Internet
